* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* disable any outline on basic form elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#myInput {
    width: 250px;
    margin: 8px 5px;
    background-color: #3b3b3b;
    color: #fff;
    border-color: #515151
}

#myButton {
    width: 70px;
    margin: 8px 5px;
    background-color: #3b3b3b;
    color: #fff;
    border-color: #515151
}