* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

/* disable any outline on basic form elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#myInput,
#myButton {
    margin: 8px 5px;
    background-color: #f8f8ff;
    color: #000;
    border-color: #dcdcdc;
}

#myInput {
    width: 250px;
}

#myButton {
    width: 70px;
}